<ion-view title="Login">
  <ion-content has-header="true" padding="true">
    <h1>Login</h1>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
    </div>
  </ion-content>
</ion-view>
