<ion-view title="Login">
  <ion-content has-header="true" padding="true" class="center-content">
    <img src="img/favourhood-logo.png" class="padding padding-top-big">
    <form name="loginForm">
      <div class="list padding padding-top-big">
        <label class="item item-input item-floating-label">
          <span class="input-label">Email</span>
          <input type="email" placeholder="Email" ng-model="userdata.email" required/>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Phone</span>
          <input type="tel" placeholder="Phone" ng-model="userdata.phone" required/>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Password" ng-model="userdata.password" required/>
        </label>
        <button class="button button-full button-positive" ng-click="login()" ng-disabled="loginForm.$invalid || loginForm.$pristine">
          Login
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
