<ion-view title="{{myTask.saved ? 'My task details' : 'New task'}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon">{{points}}<img src="http://placehold.it/32x32"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select>
          <option ng-repeat="category in categories">
            {{category.name}}
          </option>
        </select>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Title" ng-model="myTask.title"/>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="Description" ng-model="myTask.details" />
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Deadline
        </div>
        <select>
          <option value="{{15*60*1000}}">15min</option>
          <option value="{{60*60*1000}}">1h</option>
          <option value="{{2*60*60*1000}}">2h</option>
          <option value="{{8*60*60*1000}}">8h</option>
        </select>
      </label>

      <div class="item item-divider">
        Points
      </div>

      <div class="list">
        <label class="item item-input item-stacked-label">
          Points to spend: {{myTask.points}}
        </label>
        <div class="item range range-balanced">
          0
          <input type="range" name="volume" min="0" max="{{points}}" ng-model="myTask.points" />
          {{points}}
        </div>
      </div>

      <button class="button button-full button-balanced">
        <i class="icon ion-plus-round"></i> Add
      </button>
    </div>

    <div class="list" ng-hide="myTask">
      <div class="item item-divider">
        My task
      </div>
      <div class="item item-avatar" href="#/tab/requests/1">
        <img src="http://placehold.it/32x32">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
        <button class="button button-assertive button-full button-small">
          Delete task
        </button>
      </div>
    </div>

    <div class="list" ng-hide="myTask">
      <h4>Applied to your task</h4>

      <a class="item item-avatar" ng-repeat="user in users" href="#/tab/requests/2/{{user.id}}">
        <img src="http://placehold.it/32x32">
        <h2>{{user.name}}</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>
  </ion-content>
</ion-view>
