<ion-view title="{{show=='edit' ? 'My task details' : 'New task'}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon"><img src="img/icon/point_32.png" class="points-icon">{{points}}</button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <div class="list" ng-show="show=='add'">
      <form name="addTaskForm">
        <label class="item item-input item-select">
          <div class="input-label">
            Category
          </div>
          <select ng-model="myTask.type" required>
            <option ng-repeat="category in categories" value="{{category}}">
              {{category}}
            </option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Title</span>
          <input type="text" placeholder="Title" ng-model="myTask.title" required/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <input type="text" placeholder="Description" ng-model="myTask.details" />
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Deadline
          </div>
          <select>
            <option value="{{15*60*1000}}">15min</option>
            <option value="{{60*60*1000}}">1h</option>
            <option value="{{2*60*60*1000}}">2h</option>
            <option value="{{8*60*60*1000}}">8h</option>
          </select>
        </label>

        <div class="item item-divider">
          Points
        </div>

        <div class="list">
          <label class="item item-input item-stacked-label">
            Points to spend: {{myTask.points}}
          </label>
          <div class="item range range-balanced">
            1
            <input type="range" name="volume" min="1" max="{{points}}" ng-model="myTask.points" required/>
            {{points}}
          </div>
        </div>

        <button class="button button-full button-balanced" ng-click="add()" ng-disabled="addTaskForm.$invalid || addTaskForm.$pristine">
          <i class="icon ion-plus-round"></i> Add
        </button>
      </form>
    </div>

    <div class="list" ng-show="show=='edit'">
      <div class="item item-divider">
        {{myTask.title}}
      </div>
      <div class="item item-avatar">
        <img ng-src="http://www.gravatar.com/avatar/{{emailHash}}" class="float-left">

        <img ng-src="img/{{getCategoryImage(myTask.type)}}">
        <p class="task-points float-right"><img src="img/icon/point_32.png" class="points-icon">{{myTask.points}}</p>
          <p>{{myTask.details}}</p>
          <p>Deadline: {{myTask.deadline| date : 'medium'}}</p>
        </div>
        <button class="button button-balanced button-full" ng-click="redeem()">
            Redeem points
        </button>
        <button class="button button-assertive button-full" ng-click="delete()">
            Delete task
        </button>
    </div>

    <div class="list" ng-show="show=='edit'">
      <h4>Applied for your task</h4>
      <a class="item item-avatar" ng-repeat="user in applied">
        <button class="button button-full button-balanced" ng-click="approve(user.email_hash)">
          Accept
        </button>
        <img src="http://www.gravatar.com/avatar/{{user.email_hash}}" />
      </a>
    </div>
  </ion-content>
</ion-view>
