<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
      <ion-nav-bar class="bar-stable nav-title-slide-ios7">
          <ion-nav-back-button class="button-icon icon  ion-ios7-arrow-back">
              Back
          </ion-nav-back-button>
      </ion-nav-bar>
    <ion-tabs class="tabs-icon-top">

      <ion-tab title="Map" icon="icon ion-map" href="#/tab/map">
        <ion-nav-view name="tab-map"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Tasks" icon="icon ion-pin" href="#/tab/requests">
        <ion-nav-view name="tab-requests"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Add task" icon="icon ion-compose" href="#/tab/my-requests">
        <ion-nav-view name="tab-my-requests"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
        <ion-nav-view name="tab-settings"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-side-menu-content>

  <!-- Left menu with categories -->
  <ion-side-menu side="left" ng-controller="ContentCtrl">
    <ul class="list">
      <li class="item item-toggle" ng-repeat="category in categories">
        {{category.name}}
        <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>
    </ul>
  </ion-side-menu>
</ion-side-menus>


