<ion-tabs class="tabs-icon-top">

  <ion-tab title="Map" icon="icon ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Users requests" icon="icon ion-pin" href="#/tab/requests">
    <ion-nav-view name="tab-requests"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My requests" icon="icon ion-coffee" href="#/tab/my-requests">
    <ion-nav-view name="tab-my-requests"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
