#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.padding-top-big {
  padding-top: 40px;
}

.full-width {
  width: 100%;
}

.center-content {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.points-icon.float-left {
  width: 92px;
}

h1.points-title{
  display: inline-block;
  vertical-align: top;
  font-size: 3em;
}

.categories-images {
  padding: 10px;
  padding-bottom: 2px;
  vertical-align: top;
  display: block;
  line-height: 2em;
}

.categories-images img {
  padding-right: 10px;
}

p.task-points {
  font-size: 1.2em;
  vertical-align: top;
  margin-bottom: -1px;
  line-height: 1.7em;
}
