#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.padding-top-big {
  padding-top: 50px;
}

.full-width {
  width: 100%;
}

.float-left {
  float: left;
}

h1.points-title{
  display: inline-block;
  vertical-align: top;
  font-size: 4em;
}
